@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
  background-color: #007aff;
  cursor: default;
  line-height: 1.7; }

html {
  font-size: 62.5%; }

header {
  height: 20vh;
  width: 100%; }

main {
  height: auto;
  width: 99%; }

footer {
  height: auto;
  width: 100%;
  margin-top: 150px; }

.logotipo {
  margin-left: 100px; }
  .logotipo .LOGONAV {
    height: 60px;
    width: 200px;
    border-radius: 40px; }

.PaginasMenu {
  margin-right: 75px; }
  .PaginasMenu .nav-item {
    padding-right: 15px; }
    .PaginasMenu .nav-item .nav-link {
      color: #ffffff;
      text-decoration: none;
      padding: 0px 10px 0px 10px;
      font-size: 18px; }

.copy {
  color: #ffffff;
  font-size: 16px; }

.wilogo {
  height: 100%;
  width: 100%; }

.wi {
  list-style: none; }

.blink-2 {
  animation: blink-2 1s infinite both;
  height: 30px;
  width: 30px;
  margin-left: 20px; }

@keyframes blink-2 {
  0% {
    opacity: 1; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }

.prontogascentro {
  text-align: center;
  color: #ffffff;
  margin-top: 70px;
  padding-left: 0px;
  padding-right: 0px; }
  .prontogascentro .tituloPrincipal {
    font-size: 800%;
    text-decoration: underline;
    font-weight: bold; }

.subtitulo {
  font-size: 24px;
  margin-top: 20px; }

.eslogan {
  font-size: 5rem;
  margin-top: 50px; }

.quienessomos {
  margin-top: 70px;
  margin-bottom: 70px; }
  .quienessomos .text-focus-in1SOMOS {
    animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    color: #ffffff;
    font-size: 4rem;
    text-align: center;
    text-decoration-line: underline; }

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0; }
  100% {
    filter: blur(0);
    opacity: 1; } }

.text-focus-inDESCRIPCION {
  animation: text-focus-in 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.5s both;
  color: #ffffff;
  font-size: 2rem;
  text-align: justify;
  margin: 20px; }

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0; }
  100% {
    filter: blur(0);
    opacity: 1; } }

.media {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px; }
  .media .fotoflota {
    height: 100%;
    width: 100%;
    margin-top: 50px; }

.listadeproductos {
  margin-top: 50px;
  margin-bottom: 70px; }
  .listadeproductos .card {
    height: 350px;
    width: 200px;
    background-color: #007aff; }
    .listadeproductos .card .fotoProducto {
      height: 100%;
      width: 100%; }

.card-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-align: center; }

.botonVerMas {
  font-size: 15px;
  margin-top: 10px; }

.tituloModal {
  font-size: 18px;
  font-weight: bold; }

.modal-body {
  font-size: 16px; }

.puntosVenta {
  margin-top: 30px; }
  .puntosVenta .infoventa {
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline; }

.infoventa1 {
  color: #ffffff;
  font-size: 1.5rem; }

.listaContacto {
  color: #ffffff;
  font-size: 2rem; }
  .listaContacto .linkContacto {
    color: #ffffff;
    text-decoration: none; }

button {
  --primary-color: #3f99f8;
  --secondary-color: #fff;
  --hover-color: #002ae7;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold; }
  button p {
    font-size: 15px; }

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }
  button .arrow-wrapper button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s; }
    button .arrow-wrapper button .arrow button .arrow::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      border: solid var(--secondary-color);
      border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
      display: inline-block;
      top: -3px;
      right: 3px;
      transition: 0.2s;
      padding: 3px;
      transform: rotate(-45deg); }

button:hover {
  background-color: var(--hover-color); }
  button:hover button:hover .arrow {
    background: var(--secondary-color); }
    button:hover button:hover .arrow button:hover .arrow:before {
      right: 0; }

@media (max-width: 767.98px) {
  .listadeproductos {
    display: flex;
    flex-direction: column; }
  .card {
    margin-top: 40px; }
  .puntosDeVenta {
    display: flex;
    flex-direction: column;
    margin-top: 50px; }
  .datosContacto {
    display: flex;
    flex-direction: column;
    margin-top: 100px; }
  .formulario1 {
    margin-top: 75px; }
  .infoventa {
    margin-top: 100px; }
  .botonVerMas {
    display: none; } }

@media (max-width: 991.98px) {
  .listadeproductos {
    display: flex;
    flex-direction: column; }
  .card {
    margin-top: 40px; }
  .puntosDeVenta {
    display: flex;
    flex-direction: column; }
  .datosContacto {
    display: flex;
    flex-direction: column;
    margin-top: 100px; }
  .formulario1 {
    margin-top: 75px; }
  .infoventa {
    margin-top: 100px; }
  .botonVerMas {
    display: none; } }
