*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    background-color: $mainColor;
    cursor: default;
    line-height: 1.7;
}

html{
    font-size: 62.5%
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

header{
    height: 20vh;
    width: 100%;
}
main{
    height: auto;
    width: 99%;
}
footer{
    height: auto;
    width: 100%;
    margin-top: 150px;
}
