.puntosVenta{
    margin-top: 30px;
    .infoventa{
        color: $secondaryColor;
        text-align: center;
        font-size: 3rem;
        text-decoration: underline;
    }
}
.infoventa1{
    color: $secondaryColor;
    font-size: 1.5rem;
}