.prontogascentro{
    text-align: center;
    color: white;
    margin-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
    .tituloPrincipal{
        font-size: 800%;
        text-decoration: underline;
        font-weight: bold;
    }
}

.subtitulo{
    font-size: 24px;
    margin-top: 20px;
    
}

.eslogan{
    font-size: 5rem;
    margin-top: 50px;
}
